In [1]:
import itertools

# Our numerical workhorses
import numpy as np
import pandas as pd
import scipy.integrate

# Import Altair for high level plotting
import altair as alt
import altair_catplot as altcat

# Import Bokeh modules for interactive plotting
import bokeh.io
import bokeh.plotting
import bebi103

# Set up Bokeh for inline viewing
bokeh.io.output_notebook()
alt.renderers.enable('notebook')

# Pevent bulky altair plots
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [16]:
df = pd.read_csv('../data/130315_1A_aanat2.csv', comment='#')

In [17]:
df

        location  activity                 time       zeit  zeit_ind  day
0              1       0.6  2013-03-15 18:31:09 -14.480833      -869    4
1              2       1.4  2013-03-15 18:31:09 -14.480833      -869    4
2              3       0.0  2013-03-15 18:31:09 -14.480833      -869    4
3              4       0.0  2013-03-15 18:31:09 -14.480833      -869    4
4              5       0.0  2013-03-15 18:31:09 -14.480833      -869    4
5              6       0.0  2013-03-15 18:31:09 -14.480833      -869    4
6              7       0.0  2013-03-15 18:31:09 -14.480833      -869    4
7              8       1.7  2013-03-15 18:31:09 -14.480833      -869    4
8              9       0.0  2013-03-15 18:31:09 -14.480833      -869    4
9             10       0.0  2013-03-15 18:31:09 -14.480833      -869    4
10            11       0.0  2013-03-15 18:31:09 -14.480833      -869    4
11            12       0.0  2013-03-15 18:31:09 -14.480833      -869    4
12            13       0.0  2013-03-15 18:31:09 -14.480833      -869    4
13            14       0.0  2013-03-15 18:31:09 -14.480833      -869    4
14            15       0.0  2013-03-15 18:31:09 -14.480833      -869    4
15            16       0.0  2013-03-15 18:31:09 -14.480833      -869    4
16            17       0.1  2013-03-15 18:31:09 -14.480833      -869    4
17            18       0.0  2013-03-15 18:31:09 -14.480833      -869    4
18            19      11.2  2013-03-15 18:31:09 -14.480833      -869    4
19            20       0.0  2013-03-15 18:31:09 -14.480833      -869    4
20            21       1.2  2013-03-15 18:31:09 -14.480833      -869    4
21            22       0.0  2013-03-15 18:31:09 -14.480833      -869    4
22            23       0.0  2013-03-15 18:31:09 -14.480833      -869    4
23            24       0.0  2013-03-15 18:31:09 -14.480833      -869    4
24            25       0.0  2013-03-15 18:31:09 -14.480833      -869    4
25            26       0.0  2013-03-15 18:31:09 -14.480833      -869    4
26            27       0.0  2013-03-15 18:31:09 -14.480833      -869    4
27            28       0.8  2013-03-15 18:31:09 -14.480833      -869    4
28            29       1.9  2013-03-15 18:31:09 -14.480833      -869    4
29            30       0.0  2013-03-15 18:31:09 -14.480833      -869    4
...          ...       ...                  ...        ...       ...  ...
514818        67       6.9  2013-03-19 12:00:29  75.008056      4500    8
514819        68       2.7  2013-03-19 12:00:29  75.008056      4500    8
514820        69       5.1  2013-03-19 12:00:29  75.008056      4500    8
514821        70      20.6  2013-03-19 12:00:29  75.008056      4500    8
514822        71       6.4  2013-03-19 12:00:29  75.008056      4500    8
514823        72       2.8  2013-03-19 12:00:29  75.008056      4500    8
514824        73       0.0  2013-03-19 12:00:29  75.008056      4500    8
514825        74       3.3  2013-03-19 12:00:29  75.008056      4500    8
514826        75       0.1  2013-03-19 12:00:29  75.008056      4500    8
514827        76       1.9  2013-03-19 12:00:29  75.008056      4500    8
514828        77       5.8  2013-03-19 12:00:29  75.008056      4500    8
514829        78       4.9  2013-03-19 12:00:29  75.008056      4500    8
514830        79       5.2  2013-03-19 12:00:29  75.008056      4500    8
514831        80       3.6  2013-03-19 12:00:29  75.008056      4500    8
514832        81       2.5  2013-03-19 12:00:29  75.008056      4500    8
514833        82       0.0  2013-03-19 12:00:29  75.008056      4500    8
514834        83       0.7  2013-03-19 12:00:29  75.008056      4500    8
514835        84       2.5  2013-03-19 12:00:29  75.008056      4500    8
514836        85       0.0  2013-03-19 12:00:29  75.008056      4500    8
514837        86       4.2  2013-03-19 12:00:29  75.008056      4500    8
514838        87       5.1  2013-03-19 12:00:29  75.008056      4500    8
514839        88       4.6  2013-03-19 12:00:29  75.008056      4500    8
514840        89       6.5  2013-03-19 12:00:29  75.008056      4500    8
514841        90       7.0  2013-03-19 12:00:29  75.008056      4500    8
514842        91       0.0  2013-03-19 12:00:29  75.008056      4500    8
514843        92       6.7  2013-03-19 12:00:29  75.008056      4500    8
514844        93       0.0  2013-03-19 12:00:29  75.008056      4500    8
514845        94       4.8  2013-03-19 12:00:29  75.008056      4500    8
514846        95       2.1  2013-03-19 12:00:29  75.008056      4500    8
514847        96       8.1  2013-03-19 12:00:29  75.008056      4500    8

[514848 rows x 6 columns]

In [4]:
# Load in the genotype file, call it df_gt for genotype DataFrame
df_gt = pd.read_csv('../data/130315_1A_genotypes.txt',
                    delimiter='\t',
                    comment='#',
                    header=[0, 1])

# Take a look at it
df_gt

   Genotype1 Genotype2 Genotype3
       WT 17    Het 34    Mut 22
0        2.0         1       4.0
1       14.0         3      11.0
2       18.0         5      12.0
3       24.0         6      13.0
4       28.0         8      20.0
5       29.0        10      21.0
6       30.0        15      23.0
7       54.0        19      27.0
8       58.0        22      35.0
9       61.0        33      39.0
10      68.0        36      46.0
11      75.0        38      56.0
12      76.0        40      60.0
13      78.0        43      64.0
14      80.0        44      66.0
15      86.0        47      67.0
16      96.0        49      69.0
17       NaN        51      87.0
18       NaN        52      89.0
19       NaN        53      92.0
20       NaN        55      79.0
21       NaN        57      81.0
22       NaN        59       NaN
23       NaN        62       NaN
24       NaN        65       NaN
25       NaN        71       NaN
26       NaN        72       NaN
27       NaN        73       NaN
28       NaN        74       NaN
29       NaN        77       NaN
30       NaN        88       NaN
31       NaN        90       NaN
32       NaN        93       NaN
33       NaN        95       NaN

In [5]:
# Reset the columns to be the second level of indexing
df_gt.columns = df_gt.columns.get_level_values(1)

# Check out the new columns
df_gt.columns

Index(['WT 17', 'Het 34', 'Mut 22'], dtype='object')

In [6]:
df_gt.columns = ['wt', 'het', 'mut']

In [7]:
# Tidy the DataFrame
df_gt = pd.melt(df_gt, var_name='genotype', value_name='location')

# Take a look
df_gt

    genotype  location
0         wt       2.0
1         wt      14.0
2         wt      18.0
3         wt      24.0
4         wt      28.0
5         wt      29.0
6         wt      30.0
7         wt      54.0
8         wt      58.0
9         wt      61.0
10        wt      68.0
11        wt      75.0
12        wt      76.0
13        wt      78.0
14        wt      80.0
15        wt      86.0
16        wt      96.0
17        wt       NaN
18        wt       NaN
19        wt       NaN
20        wt       NaN
21        wt       NaN
22        wt       NaN
23        wt       NaN
24        wt       NaN
25        wt       NaN
26        wt       NaN
27        wt       NaN
28        wt       NaN
29        wt       NaN
..       ...       ...
72       mut      20.0
73       mut      21.0
74       mut      23.0
75       mut      27.0
76       mut      35.0
77       mut      39.0
78       mut      46.0
79       mut      56.0
80       mut      60.0
81       mut      64.0
82       mut      66.0
83       mut      67.0
84       mut      69.0
85       mut      87.0
86       mut      89.0
87       mut      92.0
88       mut      79.0
89       mut      81.0
90       mut       NaN
91       mut       NaN
92       mut       NaN
93       mut       NaN
94       mut       NaN
95       mut       NaN
96       mut       NaN
97       mut       NaN
98       mut       NaN
99       mut       NaN
100      mut       NaN
101      mut       NaN

[102 rows x 2 columns]

In [8]:
# Drop all rows that have a NaN in them
df_gt = df_gt.dropna()

# Take a look
df_gt

   genotype  location
0        wt       2.0
1        wt      14.0
2        wt      18.0
3        wt      24.0
4        wt      28.0
5        wt      29.0
6        wt      30.0
7        wt      54.0
8        wt      58.0
9        wt      61.0
10       wt      68.0
11       wt      75.0
12       wt      76.0
13       wt      78.0
14       wt      80.0
15       wt      86.0
16       wt      96.0
34      het       1.0
35      het       3.0
36      het       5.0
37      het       6.0
38      het       8.0
39      het      10.0
40      het      15.0
41      het      19.0
42      het      22.0
43      het      33.0
44      het      36.0
45      het      38.0
46      het      40.0
..      ...       ...
60      het      72.0
61      het      73.0
62      het      74.0
63      het      77.0
64      het      88.0
65      het      90.0
66      het      93.0
67      het      95.0
68      mut       4.0
69      mut      11.0
70      mut      12.0
71      mut      13.0
72      mut      20.0
73      mut      21.0
74      mut      23.0
75      mut      27.0
76      mut      35.0
77      mut      39.0
78      mut      46.0
79      mut      56.0
80      mut      60.0
81      mut      64.0
82      mut      66.0
83      mut      67.0
84      mut      69.0
85      mut      87.0
86      mut      89.0
87      mut      92.0
88      mut      79.0
89      mut      81.0

[73 rows x 2 columns]

In [9]:
df_gt = df_gt.reset_index(drop=True)

In [10]:
df.head()

   location  activity                 time       zeit  zeit_ind  day
0         1       0.6  2013-03-15 18:31:09 -14.480833      -869    4
1         2       1.4  2013-03-15 18:31:09 -14.480833      -869    4
2         3       0.0  2013-03-15 18:31:09 -14.480833      -869    4
3         4       0.0  2013-03-15 18:31:09 -14.480833      -869    4
4         5       0.0  2013-03-15 18:31:09 -14.480833      -869    4

In [12]:
df_gt.loc[:,'location'] = df_gt.loc[:, 'location'].astype(int)

In [13]:
df = pd.merge(df, df_gt)

In [14]:
df.head()

   location  activity                 time       zeit  zeit_ind  day genotype
0         1       0.6  2013-03-15 18:31:09 -14.480833      -869    4      het
1         1       1.9  2013-03-15 18:32:09 -14.464167      -868    4      het
2         1       1.9  2013-03-15 18:33:09 -14.447500      -867    4      het
3         1      13.4  2013-03-15 18:34:09 -14.430833      -866    4      het
4         1      15.4  2013-03-15 18:35:09 -14.414167      -865    4      het

In [16]:
df['time'].dtype

dtype('O')

In [17]:
df['time'] = pd.to_datetime(df['time'])

# What is its type?
df['time'].dtype

dtype('<M8[ns]')

In [ ]:
df.he

In [18]:
df['light'] = (  (df['time'].dt.time >= pd.to_datetime('9:00:00').time())
               & (df['time'].dt.time < pd.to_datetime('23:00:00').time()))

In [19]:
df.head()

,location,activity,time,zeit,zeit_ind,day,genotype,light
0,1,0.6,2013-03-15 18:31:09,-14.480833,-869,4,het,True
1,1,1.9,2013-03-15 18:32:09,-14.464167,-868,4,het,True
2,1,1.9,2013-03-15 18:33:09,-14.447500,-867,4,het,True
3,1,13.4,2013-03-15 18:34:09,-14.430833,-866,4,het,True
4,1,15.4,2013-03-15 18:35:09,-14.414167,-865,4,het,True

In [20]:
df

,location,activity,time,zeit,zeit_ind,day,genotype,light
0,1,0.6,2013-03-15 18:31:09,-14.480833,-869,4,het,True
1,1,1.9,2013-03-15 18:32:09,-14.464167,-868,4,het,True
2,1,1.9,2013-03-15 18:33:09,-14.447500,-867,4,het,True
3,1,13.4,2013-03-15 18:34:09,-14.430833,-866,4,het,True
4,1,15.4,2013-03-15 18:35:09,-14.414167,-865,4,het,True
5,1,12.7,2013-03-15 18:36:09,-14.397500,-864,4,het,True
6,1,11.4,2013-03-15 18:37:09,-14.380833,-863,4,het,True
7,1,11.6,2013-03-15 18:38:09,-14.364167,-862,4,het,True
8,1,8.4,2013-03-15 18:39:09,-14.347500,-861,4,het,True
9,1,3.2,2013-03-15 18:40:09,-14.330833,-860,4,het,True
10,1,1.3,2013-03-15 18:41:09,-14.314167,-859,4,het,True
11,1,0.0,2013-03-15 18:42:09,-14.297500,-858,4,het,True
12,1,0.0,2013-03-15 18:43:09,-14.280833,-857,4,het,True
13,1,0.0,2013-03-15 18:44:09,-14.264167,-856,4,het,True
14,1,0.0,2013-03-15 18:45:09,-14.247500,-855,4,het,True
15,1,0.0,2013-03-15 18:46:09,-14.230833,-854,4,het,True
16,1,0.0,2013-03-15 18:47:09,-14.214167,-853,4,het,True
17,1,0.0,2013-03-15 18:48:09,-14.197500,-852,4,het,True
18,1,0.0,2013-03-15 18:49:09,-14.180833,-851,4,het,True
19,1,0.0,2013-03-15 18:50:09,-14.164167,-850,4,het,True
20,1,0.0,2013-03-15 18:51:09,-14.147500,-849,4,het,True
21,1,0.0,2013-03-15 18:52:09,-14.130833,-848,4,het,True
22,1,0.0,2013-03-15 18:53:09,-14.114167,-847,4,het,True
23,1,0.0,2013-03-15 18:54:09,-14.097500,-846,4,het,True
24,1,0.0,2013-03-15 18:55:09,-14.080833,-845,4,het,True
25,1,0.0,2013-03-15 18:56:09,-14.064167,-844,4,het,True
26,1,0.0,2013-03-15 18:57:09,-14.047500,-843,4,het,True
27,1,0.0,2013-03-15 18:58:09,-14.030833,-842,4,het,True
28,1,0.0,2013-03-15 18:59:09,-14.014167,-841,4,het,True
29,1,0.0,2013-03-15 19:00:09,-13.997500,-840,4,het,True
...,...,...,...,...,...,...,...,...
391469,96,8.3,2013-03-19 11:31:29,74.524722,4471,8,wt,True
391470,96,1.9,2013-03-19 11:32:29,74.541389,4472,8,wt,True
391471,96,9.1,2013-03-19 11:33:29,74.558056,4473,8,wt,True
391472,96,4.3,2013-03-19 11:34:29,74.574722,4474,8,wt,True
391473,96,9.2,2013-03-19 11:35:29,74.591389,4475,8,wt,True
391474,96,8.9,2013-03-19 11:36:29,74.608056,4476,8,wt,True
391475,96,9.2,2013-03-19 11:37:29,74.624722,4477,8,wt,True
391476,96,11.8,2013-03-19 11:38:29,74.641389,4478,8,wt,True
391477,96,15.4,2013-03-19 11:39:29,74.658056,4479,8,wt,True
391478,96,11.3,2013-03-19 11:40:29,74.674722,4480,8,wt,True
391479,96,8.1,2013-03-19 11:41:29,74.691389,4481,8,wt,True
391480,96,9.9,2013-03-19 11:42:29,74.708056,4482,8,wt,True
391481,96,12.4,2013-03-19 11:43:29,74.724722,4483,8,wt,True
391482,96,12.6,2013-03-19 11:44:29,74.741389,4484,8,wt,True
391483,96,8.8,2013-03-19 11:45:29,74.758056,4485,8,wt,True
391484,96,12.1,2013-03-19 11:46:29,74.774722,4486,8,wt,True
391485,96,14.4,2013-03-19 11:47:29,74.791389,4487,8,wt,True
391486,96,9.6,2013-03-19 11:48:29,74.808056,4488,8,wt,True
391487,96,8.3,2013-03-19 11:49:29,74.824722,4489,8,wt,True
391488,96,9.1,2013-03-19 11:50:29,74.841389,4490,8,wt,True
391489,96,7.5,2013-03-19 11:51:29,74.858056,4491,8,wt,True
391490,96,11.2,2013-03-19 11:52:29,74.874722,4492,8,wt,True
391491,96,8.0,2013-03-19 11:53:29,74.891389,4493,8,wt,True
391492,96,9.4,2013-03-19 11:54:29,74.908056,4494,8,wt,True
391493,96,9.0,2013-03-19 11:55:29,74.924722,4495,8,wt,True
391494,96,7.2,2013-03-19 11:56:29,74.941389,4496,8,wt,True
391495,96,10.1,2013-03-19 11:57:29,74.958056,4497,8,wt,True
391496,96,11.4,2013-03-19 11:58:29,74.974722,4498,8,wt,True
391497,96,10.9,2013-03-19 11:59:29,74.991389,4499,8,wt,True
391498,96,8.1,2013-03-19 12:00:29,75.008056,4500,8,wt,True