In [2]:
import itertools

# Our numerical workhorses
import numpy as np
import pandas as pd
import scipy.integrate

# Import Altair for high level plotting
import altair as alt
import altair_catplot as altcat

# Import Bokeh modules for interactive plotting
import bokeh.io
import bokeh.plotting

# Set up Bokeh for inline viewing
bokeh.io.output_notebook()
alt.renderers.enable('notebook')

# Pevent bulky altair plots
alt.data_transformers.enable('json')

DataTransformerRegistry.enable('json')

In [3]:
# Load the data into DataFrame df
df = pd.read_excel('../data/wang_cool_gal4.xlsx')
df.head()

,sc15,sc20,sc25,sk15,sk20,sk25,m315,m320,m325
0,1298.547,2737.135,16499.30,8978.031,14251.97,16593.960,20722.62,11703.01,17073.800
1,6798.146,12185.360,12672.19,11221.130,13616.94,6910.673,10373.52,17025.58,15379.370
2,10686.910,1532.901,15832.53,9460.200,17474.90,20934.660,21707.12,17499.83,16991.490
3,2018.864,2357.752,15065.03,9049.072,16042.57,18042.750,21750.27,15657.50,13393.350
4,1551.396,1888.596,16960.67,14132.810,12867.40,23189.560,20820.26,11383.33,7709.297

In [9]:
df_tidy = df.stack(level=0)
df_tidy.head()

0  sc15     1298.547
   sc20     2737.135
   sc25    16499.300
   sk15     8978.031
   sk20    14251.970
dtype: float64

In [11]:
df_tidy = df_tidy.sort_index(level=1)
df_tidy = df_tidy.reset_index(level=1)
df_tidy.head()

  level_1         0
0    m315  20722.62
1    m315  10373.52
2    m315  21707.12
3    m315  21750.27
4    m315  20820.26

In [ ]:
df_tidy['Temperature'] = df_tidy.level_1.str[2:4]
df_tidy.level_1 = df_tidy.level_1.str[:2]
df_tidy = df_tidy.rename(columns={'level_1': 'Condition', 0:'GFP fluorescence signal'})
df_tidy = df_tidy[['Condition','Temperature','GFP fluorescence signal']]
df_tidy = df_tidy.dropna()

In [12]:
df_tidy['Temperature'] = df_tidy.level_1.str[2:4]
df_tidy.head()

  level_1         0 Temperature
0    m315  20722.62          15
1    m315  10373.52          15
2    m315  21707.12          15
3    m315  21750.27          15
4    m315  20820.26          15

In [13]:
df_tidy.level_1 = df_tidy.level_1.str[:2]
df_tidy.head()

  level_1         0 Temperature
0      m3  20722.62          15
1      m3  10373.52          15
2      m3  21707.12          15
3      m3  21750.27          15
4      m3  20820.26          15

In [16]:
df_tidy = df_tidy.rename(columns={'level_1': 'Condition', 0:'GFP fluorescence signal'})
df_tidy.head()

  Condition Temperature  GFP fluorescence signal
0        m3          15                 20722.62
1        m3          15                 10373.52
2        m3          15                 21707.12
3        m3          15                 21750.27
4        m3          15                 20820.26

In [17]:
df_tidy = df_tidy[['Condition','Temperature','GFP fluorescence signal']]
df_tidy.head()'

# hmmm what does this do?

  Condition Temperature  GFP fluorescence signal
0        m3          15                 20722.62
1        m3          15                 10373.52
2        m3          15                 21707.12
3        m3          15                 21750.27
4        m3          15                 20820.26

In [18]:
df_tidy = df_tidy.dropna()
df_tidy.head()

  Condition Temperature  GFP fluorescence signal
0        m3          15                 20722.62
1        m3          15                 10373.52
2        m3          15                 21707.12
3        m3          15                 21750.27
4        m3          15                 20820.26